
<nav class="header-reg">
  <%= link_to 'Nuevo', new_movement_path %>   <!-- Nuevo registro -->
  <%= link_to 'Día', movements_path %>  <!-- Día, nuevo, consolidados -->

  <%= link_to '?', '#' %>  <!-- ?  -->
  <%= link_to '?', '#' %>   <!-- Ayudas, Enlaces -->

</nav>

<div>
  <center>
  <h3 style="display: flex; justify-content: space-between; width: 100%;">
    <span>Normas / Runt </span> <span>Coltax OnLine</span>
  </h3>

  <h4> Registro Unico Nacional de Transporte </h4>
</center>

  <P>
  <nav>
    <ul>

    </ul>
  </nav>

</div>
